@media (min-width: 500px) and (max-width: 1300px){
    .container{
        background-color: red;
    }
}
@media (min-width: 1300px) and (max-width: 1600px){
    .container{
        background-color: blue;
    }
}
@media (min-width: 1600px) and (max-width: 1900px){
    .container{
        background-color: cyan;
    }
}
@media (min-width: 1900px) and (max-width: 2200px){
    .container{
        background-color: green;
    }
}





.mx-auto{
    margin: auto;
    justify-content: center;
    align-items: center;
}
.m-w-20{
    max-width: 40vw;
}

.button{
   padding: 20px;  
}
.flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}
.row{
    margin: 8px 0;
}

.button{
    padding: 20px;
    margin: 0 2px;
    border: 2px solid black;
    border-radius: 8px;
}

.u{
    display: flex;
    flex-direction: column;
}